<div class="container m-auto my-5">

    <h1 class="text-center text-uppercase">Partners</h1>
    <p class="text-center">
        It is a long established fact that a reader will  be distracted by the readable 
        content of a page when looking at its layout. ablished fact that a reader will  
        be distracted by the readable content of a page when looking  .t. ablished fact 
        that a reader will  be distracted by the readable content of a page when looking
          .t. ablished fact that a reader will  be distracted by the readable content of 
          a page when looking  .
    </p>
    <app-partners-image></app-partners-image>

</div>

