.container{
    position: absolute;
width: 296px;
height: 350px;
/* background-color: red; */

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.container .img{
position: absolute;
width: 296px;
height: 160px;
left: 0;
top: 0;
}
.container .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.container .img1{
position: absolute;
width: 148px;
height: 95px;
top: 160px;
left: 0;
}
.container .img1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.container .img2{
position: absolute;
width: 148px;
height: 95px;
top: 160px;
left: 148px;
}
.container .img2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.container .img3{
position: absolute;
width: 148px;
height: 95px;
top: 255px;
left: 0;
}
.container .img3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.container .img4{
position: absolute;
width: 148px;
height: 95px;
top: 255px;
left: 148px;
}
.container .img4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}